#buttonM {margin-top: 10%; margin-left: 10%; margin-right: 10%; margin-bottom: 20%;}
button{margin-top:10%; align-content: center;}
.colorbtn{background: #5A6363; color: #FFF;  }
input{margin-top:2%; align-content: center}
#mainpage{margin-bottom: -50%;}
#fg, img, figure{image-resolution: 20px;}
#fundo{background-image: url(images/)}
